.calendar {
  width: 100%;
  border-radius: 0.3125rem;
  text-transform: capitalize;
  background-color: #fff5f5;

  &__header {
    position: relative;
    border-radius: 0.3125rem 0.3125rem 0 0;
    background-color: var(--main-background);
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.125rem 0.625rem -0.0625rem rgba(0, 0, 0, 0.2);

    & > tr {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
    }

    &__months,
    &__years,
    &__days {
      display: none;
    }
  }

  &__body {
    border-radius: 0 0 0.3125rem 0.3125rem;
    padding: 0.3125rem;

    &__week-names {
      height: 1.25rem;
      font-weight: 600;
      font-size: 0.5rem;
      color: #62a4fa;
      text-align: center;
      align-items: center;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0.0625rem 0.0625rem;

      & > td {
        text-transform: uppercase;
      }
    }

    &__days {
      font-size: 0.625rem;
      font-weight: 400;
      text-align: center;
      display: grid;
      text-align: center;
      align-items: center;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr;
      gap: 0.0625rem 0.0625rem;

      &__day {
        border-radius: 0.3125rem;
        padding: 0.3438rem 0rem;
        cursor: pointer;

        &_additional-day {
          padding: 0.3438rem;
          font-weight: 300;
          cursor: pointer;
          color: #bcbcbc;
        }

        &_selected {
          color: var(--calendar-text-color);
          background-color: var(--calendar-item-selected);

          @media (hover: hover) {
            &:hover {
              background-color: var(--calendar-item-hover);
            }
          }
        }

        &_today {
          background-color: var(--calendar-item-active);
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--calendar-item-hover);
          }
        }
      }
    }

    &__months {
      font-weight: 400;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 0.0625rem 0.0625rem;
      font-size: 0.75rem;

      &__month {
        padding: 0.5625rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.3125rem;

        &_selected {
          background-color: var(--calendar-item-selected);
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--calendar-item-hover);
          }
        }

        &_current {
          background-color: var(--calendar-item-active);
        }
      }
    }

    &__years {
      font-weight: 400;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 0.0625rem 0.0625rem;
      font-size: 0.75rem;

      &__year {
        padding: 0.5625rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.3125rem;

        &_selected {
          background-color: var(--calendar-item-selected);
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--calendar-item-hover);
          }
        }

        &_today {
          background-color: var(--calendar-item-active);
        }

        @media (hover: hover) {
          &:hover {
            background-color: var(--calendar-item-hover);
          }
        }
      }

      &__unchoosable-year {
        font-weight: 300;
        padding: 0.5625rem 1rem;
        opacity: 0.7;

        @media (hover: hover) {
        }
      }
    }
  }
}

section {
  width: 100%;
  max-width: 31.25rem;
}
