.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;

  &__item {
    border-radius: 0.3125rem;
    padding: 0.9375rem;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #0000001a;
  }
}
