@import './reset.scss';
@import './colors.scss';
@import './device-sizes.scss';
@import './variables.scss';

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  width: 0.5rem;

  @media (max-width: $device-size-tablet) {
    width: 0.25rem;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 5.5rem;
  background: rgb(105, 215, 245);
}
