@import '../../../styles/device-sizes.scss';

.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  z-index: var(--z-index-modal);
  padding: 1.25rem;

  @media (max-width: $device-size-tablet) {
    padding: 0.625rem;
  }

  &__content {
    box-shadow: 0rem 0.3125rem 0.625rem 0rem rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 0.9375rem;
    background: #fff;
    width: 100%;
    max-width: 37.5rem;
    overflow-y: auto;
    height: 100%;

    &__title {
      border-top-left-radius: 0.625rem;
      border-top-right-radius: 0.625rem;
      padding: 0.625rem 0.625rem 0.625rem 1.25rem;
      background: var(--main-background);
      display: flex;
      justify-content: space-between;
    }

    &__text {
      display: flex;
      flex-direction: column;
      row-gap: 0.625rem;
      padding: 1.25rem;
    }

    @media (max-width: $device-size-tablet) {
      margin: 0 1.25rem;
    }
  }

  &_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
