.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.3125rem;

    &__item {
      display: flex;
      flex-direction: column;
      row-gap: 0.3125rem;

      & > label {
        color: var(--additional-text-color);
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3125rem;
  }
}
